<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="io.puremetrics.sdk">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application   >
        <receiver android:name=".NetworkAvailableReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".AppUpdateReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <data android:scheme="package" android:path="${applicationId}" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
